.MultiCharts {
    margin: 0px 20px;
}

.MyDatePicker {
    height: 350px; 
    display: inline-block;
}


span {
    border-radius: 3px;
    background-color: #eee;
    display: inline-block;
    cursor: pointer;
    color: #444;
    padding: 5px;
    margin: 5px;
}